
<h4>Formularios <small>Validando desde TS</small></h4>
<hr>
<form [formGroup]="form" (ngSubmit)="guardar()" novalidate="novalidate">

  <div class="container">

    <div class="form-group row" [ngClass]="{'has-danger': !form.get('nombre').valid && form.get('nombre').touched}">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-8">
        <input class="form-control"
               type="text"
               placeholder="Nombre"
               name="nombre"
               formControlName="nombre">
        <div
          *ngIf="form.controls['nombre'].errors?.required"
          class="form-control-feedback">
          Campo obligatorio
        </div>
        <div
          *ngIf="form.controls['nombre'].errors?.pattern"
          class="form-control-feedback">
          Solo letras
        </div>
        <div
          *ngIf="form.controls['nombre'].errors?.minlength"
          class="form-control-feedback">
          El nombre debe contener almenos 3 caracteres
        </div>
        <div
          *ngIf="form.controls['nombre'].errors?.maxlength"
          class="form-control-feedback">
          El nombre debe contener como maximo 15 caracteres
        </div>
      </div>
    </div>

    <div class="form-group row" [ngClass]="{'has-danger': !form.get('apellido').valid && form.get('apellido').touched}">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-8">
        <input class="form-control"
         type="text"
         placeholder="Apellido"
         formControlName="apellido">
         <div
           *ngIf="form.controls['apellido'].errors?.required"
           class="form-control-feedback">
           Campo obligatorio
         </div>
         <div
           *ngIf="form.controls['apellido'].errors?.pattern"
           class="form-control-feedback">
           Solo letras
         </div>
         <div
           *ngIf="form.controls['apellido'].errors?.minlength"
           class="form-control-feedback">
           El apellido debe contener almenos 3 caracteres
         </div>
         <div
           *ngIf="form.controls['apellido'].errors?.maxlength"
           class="form-control-feedback">
           El apellido debe contener como maximo 15 caracteres
         </div>
      </div>
    </div>

    <div class="form-group row" [ngClass]="{'has-danger': !form.get('email').valid && form.get('email').touched}">
      <label class="col-2 col-form-label">Correo</label>
      <div class="col-md-8">

        <input class="form-control"
               type="email"
               placeholder="Correo electronico"
               formControlName="email">
               <div
                 *ngIf="form.controls['email'].errors?.required"
                 class="form-control-feedback">
                 Campo obligatorio
               </div>
               <div
                 *ngIf="form.controls['email'].errors?.pattern"
                 class="form-control-feedback">
                 Formato incorrecto
               </div>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button
        [disabled]="!form.valid"
        type="submit" class="btn btn-outline-primary">
        Guardar
      </button>
    </div>
  </div>

</form>
