<div class="top-30">
  <h1 class="animated fadeIn"><small>Buscando: </small>{{text}}</h1>
  <hr>
  <h2 *ngIf="heroes.length==0">No hay resultados</h2>
  <div class="card-columns">

    <div class="card animated fadeIn fast" *ngFor="let heroe of heroes; let i = index">
      <img class="card-img-top img-fluid" [src]="heroe.img" [alt]="heroe.nombre">
      <div class="card-block">
        <h4 class="card-title">{{heroe.nombre}}</h4>
        <p class="card-text">{{heroe.bio}}</p>
        <p class="card-text"><small class="text-muted">{{heroe.aparicion}}</small></p>
        <a [routerLink]="['/heroes']" class="btn btn-outline-primary btn-block">Volver</a>
      </div>
    </div>

  </div>
</div>
